<section class="about">
  <h1>About Us</h1>
  <p style="font-weight: bold">GlamMart is a leading platform...</p>
  <div class="about-info">
    <div class="about-img">
      <img src="../../assets/logo2.png" alt="Geeksforgeeks" />
    </div>
    <div>
      <p style="font-size: 16px">
        GlamMart is a premier online destination for fashion enthusiasts and
        style aficionados. As a leading eCommerce platform, GlamMart offers
        anextensive collection of the latest trends, exclusive designer pieces,
        and everyday essentials. Whether you're searching for chic outfits,
        statement accessories, or luxury beauty products, GlamMart curates a
        diverse selection to cater to every style and occasion. With a
        commitment to delivering exceptional quality and unbeatable customer
        service, GlamMart has become the go-to choice for fashion-forward
        shoppers worldwide. Join our vibrant community and elevate your wardrobe
        with the best in fashion and beauty, all from the comfort of your home
      </p>
      <button>Read More...</button>
    </div>
  </div>
</section>
<hr />
<section class="mission">
  <div class="containermission">
    <div class="statement">
      <h1>Our Mission</h1>
      <p>
        GlamMart is dedicated to providing customers with the best in fashion
        and beauty. Our mission is to offer a seamless shopping experience,
        exceptional quality, and unparalleled customer service. We strive to
        inspire confidence and empower individuals to express their unique style
        through our curated selection of products. At GlamMart, we believe that
        fashion is a form of self-expression, and we are committed to helping
        our customers look and feel their best every day.
      </p>
    </div>
    <div class="imagemission">
      <img
        src="../../assets/mission2.jpg"
        style="height: 400px"
        width="500px; border-radius:50%"
        alt=""
      />
    </div>
  </div>
</section>
<hr />
<section class="story">
  <div class="story-info">
    <div class="story-img">
      <img
        src="../../assets/story.jpg"
        style="height: 500px; width: 500px"
        alt="User 1"
      />
    </div>
    <div class="storydata">
      <h1>Our Story</h1>
      <p>
        GlamMart was founded in 2021 by a group of fashion enthusiasts who
        shared a passion for style and creativity. With a vision to create a
        platform that offered the latest trends and timeless classics, GlamMart
        quickly became a leading destination for fashion-forward shoppers. Over
        the years, GlamMart has grown into a global brand, with a dedicated team
        of experts who curate the best in fashion and beauty. Our commitment to
        quality, innovation, and customer satisfaction has made GlamMart the
        ultimate destination for style seekers around the world.
      </p>
      <button>Read More...</button>
    </div>
  </div>
</section>

<section class="team">
  <h1>Meet Our Team</h1>
  <div class="team-cards">
    <div class="card">
      <div class="card-img">
        <img src="../../assets/about1.jpg" alt="User 1" />
      </div>
      <div class="card-info">
        <h2 class="card-name">Jane</h2>
        <p class="card-role">CEO and Founder</p>
        <p class="card-email">ABC&#64;mail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>

    <div class="card">
      <div class="card-img">
        <img src="h../../assets/about2.jpg" alt="User 2" />
      </div>
      <div class="card-info">
        <h2 class="card-name">Miller</h2>
        <p class="card-role">Co-Founder</p>
        <p class="card-email">Miller&#64;mail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>

    <div class="card">
      <div class="card-img">
        <img src="../../assets/about3.jpg" alt="User 3" />
      </div>
      <div class="card-info">
        <h2 class="card-name">Joe</h2>
        <p class="card-role">Co-Founder</p>
        <p class="card-email">Joe&#64;mail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</section>
