<div class="container">
  <div class="row">
    <form
      class="signin"
      [formGroup]="loginreactiveForm"
      (ngSubmit)="onsubmitlogin()"
    >
      <h1>Sign in to your Account</h1>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          placeholder="Email Address"
          formControlName="email"
        />
        <p
          *ngIf="
            loginreactiveForm.get('email').invalid &&
            loginreactiveForm.get('email').touched
          "
          style="color: rgb(246, 29, 29)"
        >
          Please Enter Valid Email
        </p>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
          minlength="8"
        />
        <p id="link">Forget Password?</p>
      </div>
      <p id="signuplink">
        Don't have an account? <a class="abc" routerLink="/signup">Signup</a>
      </p>
      <div class="form-group">
        <button class="btn" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="images">
    <img src="../../assets/signin.png" alt="Image" />
  </div>
</div>
